/* Global Style */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-primary: #61764B;
    --color-lightblue: #8b94bc;
    --color-bg1: #9BA17B;
    --color-bg2: #FAD6A5;
    --transition: all 333ms ease;
    }

body {
    font-family: 'Comfortaa', cursive;
    color: black;
    background: var(--color-bg1);
}

h1, 
h2, 
h3, 
h4, 
p, 
a {
    color: black;
}

h2 {
    word-wrap: normal;
    line-height: 1.5rem;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

strong {
    color: #FAD6A5;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* End Global Style */

/* Nav */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.toggle {
    display: none;
    margin: 0 20px;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.8rem;
    padding: 18px 0;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }

.navbar-item {
    margin: 0 20px;
}

.navbar-item:last-child {
    margin-right: 50px;
}

.navbar-link {
    font-weight: bold;
}

.navbar-link:hover {
    color: var(--color-primary);
    transition: var(--transition);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 50px;
    margin-right: auto;
}

.navbar-button {
    border: 3px solid transparent;
    color: var(--color-bg2);
    display: inline-block;
    background: var(--color-primary);
    padding: 0.8rem 1.5rem;
    border-radius: 0.8rem;
    transition: var(--transition);
}

.navbar-button:hover {
    color: black;
    background: transparent;
    border-color: var(--color-primary);
}

@media screen and (max-width: 912px) {
    .navbar-list {
        flex-wrap: wrap;
    }

    .toggle {
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .navbar-item {
        display: none;
        width: 100%;
        text-align: center;
        margin: 20px;
    }

    .navbar-item:last-child {
        margin: 20px;
    }

    .active {
        display: block;
    }
}

@media screen and (max-width: 768px) {

    .logo {
        font-size: 1.25rem;
    }

    .toggle {
        width: 25px;
    }

@media screen and (max-width: 480px) {
    
    .logo {
            font-size: 1rem;
    }
    
    .toggle {
            width: 20px;
    }
    
    }
}

/* Navbar End */

/* Header */

header {
    display: flex;
    align-items: stretch;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header__container {
    position: absolute;
    z-index: 2;
    width: 80%;
    padding: 40px;
    text-align: center;
}

.header__title {
    color: var(--color-bg2);
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.header__text {
    color: var(--color-bg2);
    font-size: 1.3rem;
    margin-top: 1rem;
    width: auto;
}

.btn__start {
    display: inline-block;
    border: 2px solid var(--color-bg2);
    padding: 0.8rem 2rem;
    margin-top: 6rem;
    color: var(--color-bg2);
    transition: var(--transition);
}

.btn__start:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

/* End Header */

/* My Self */

.myself__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 6rem;
}

.myself__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.myself__foto {
    width: 170px;
    height: 240px;
    border-radius: 12px;
    cursor: pointer;
    transition: var(--transition);
}

.myself__foto:hover {
    transform: scale(1.1);
}

.myself__title {
    text-align: center;
}

.myself__img {
    width: 6rem;
    border-radius: 123px;
    /* margin-bottom: 2rem; */
    margin: 0px 6rem;
}

.education__container {
    border: 1.7px solid #FAD6A5;
    padding: 1rem;
    border-radius: 0.8rem;
    margin: 6rem 5rem 5rem;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
    transition: var(--transition);
}

.education__container:hover {
    transform: scale(1.1);
}

.education {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.education__header {
    margin-top: 6rem;
    text-align: center;    
}

/* End My Self */

/* Project */

.project__header {
    margin-top: 19rem;
    text-align: center;
}

.project__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 6rem;
}

.project__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.project__foto {
    height: 315.0003662109375px;
    width: 260.5667419433594px;
    left: 1389px;
    top: 380px;
    border-radius: 0px;
    cursor: pointer;
    transition: var(--transition);
}

.project__foto:hover {
    transform: scale(1.1);
}

/* End Project  */

/* Certificate */

.certificate__header {
    text-align: center;
    margin-top: 14.7rem;
}

.certificate__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 4.3rem;
}

.certificate__foto {
   box-shadow: 0px 4px 25px solid black;
   border-radius: .5rem;
   margin: 1.7rem;
   cursor: pointer;
   transition: var(--transition);
   overflow: hidden;
}

.certificate__foto:hover {
    transform: scale(1.1);
}

.container__certificate {
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 150px;
    cursor: pointer;
    margin-left: 4rem;
  }

.card {
    height: 280px;
    max-width: 350px;
    margin: 0 20px;
    background: white;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;
  }

  .card:hover{
    height: 470px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  }

  .card .img{
    height: 200px;
    width: 100%;
  }

  .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .card .top-text{
    padding: 5px;
  }

  .card .top-text .name{
    font-size: 25px;
    font-weight: 600;
    color: #202020;
  }

  .card .top-text p{
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
  }

  .card .bottom-text{
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
  }

  .card:hover .bottom-text{
    opacity: 1;
    visibility: visible;
  }

  .card .bottom-text .text{
    text-align: justify;
  }

  .card .bottom-text .btn{
    margin: 10px 0;
    text-align: left;
  }

  .card .bottom-text .btn a{
    text-decoration: none;
    background: #f75023;
    color: #f2f2f2;
    padding: 5px 8px;
    border-radius: 3px;
    display: inline-flex;
    transition: 0.2s;
  }

  .card .bottom-text .btn a:hover{
    transform: scale(0.9);
  }

  @media screen and (max-width: 978px) {
    .container{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .card{
      max-width: 700px;
      margin: 20px 0;
    }
  }

 .pos{
    display: flex;
    flex-wrap: wrap;
    
  }
  .pos{
    display: flex;
    justify-content: center;
  }

 
.container1 {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .container1 .card1 {
    position: relative;
    cursor: pointer;
  }
  
  .container1 .card1 .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
  }
  
  .container1 .card1 .face.face1{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .container1 .card1:hover .face.face1{
    background: #14cab5;
    transform: translateY(0);
  } 
  
  /* .container1 .card1 .face.face1 .content1 {
    opacity: 0.2;
    transition: 0.5; 
  } */
  
  .container1 .card1:hover .face.face1 .content1{
    opacity: 1;
  }
  
  .container1 .card1 .face.face1 .content1 img {
    height: 200px;
    width: 300px;
  }
  
  .containe1r .card1 .face.face1 .content1 h3 {
    margin: 10px 0 0 ;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em; 
  }
  
  .container1 .card1 .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.9);
    transform: translateY(-100px);
  } 
  
  .container1 .card1:hover .face.face2 {
    transform: translateY(0);
  } 
  
  .container1 .card1 .face.face2 .content1 p{
    margin: 0;
    padding: 0;
  }
  
  .container1 .card1 .face.face2 .content1 a{
    margin:15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333; 
  } 
  
  .container1 .card1 .face.face2 .content1 a:hover{
    background: #333;
    color: #fff;
  }
  
 
  .media-icons a{
    color: #14b8a6;
    font-size: 1.3em;
    margin: 20px;
    
  }

/* End Certificate */

/* Contact */

.footer {
    display: flex;
    height: 45px;
    background-color: #FAD6A5;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 12px;
}

.footer-link {
    display: flex;
    font-weight: 600;
    color: #7B7B7B;
}

/* End Contact */

/* Media Screen */

@media screen and (max-width: 912px) {

    .education {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .certificate__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin: 4.3rem;
    }
}

@media screen and (max-width: 768px) {

    .education {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .certificate__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin: 4.3rem;
    }

    .container__certificate {
    display: none;
  }

  .card {
    margin: 10px;
  }

  .container1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .pos {
    display: none;
  }
}

@media screen and (max-width: 480px) {

    .selain__navbar {
        margin-top: 6rem;
    }

    a.btn__start {
    display: inline-block;
    border: 2px solid var(--color-bg2);
    padding: 0.8rem 2rem;
    margin-top: 2rem;
    color: var(--color-bg2);
    transition: var(--transition);
    margin-bottom: 12rem;
    }

    .project__header {
    margin-top: 8rem;
    text-align: center;
}

    .header__title {
    color: var(--color-bg2);
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    }

    .education {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .certificate__row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 4.3rem;
    }

    .project__row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin: 6rem;
    }

    .project__foto {
    height: 312px;
    width: 260px;
    left: 138px;
    top: 38px;
    border-radius: 0px;
    margin-top: 3rem;
    }

    .container__certificate {
      display: none;
      }
    
    .card {
        margin: 10px;
        margin-bottom: 10rem;
      }

  .card1 {
    margin-left: 6rem;
  }

  .pos {
    display: none;
  }
}

